extends ../layout

block content
  h1(class="text-2xl font-bold text-gray-800 mb-5") Nueva Admisión

  div(class="p-8 bg-white rounded-xl shadow w-full")
    form(action="/admisiones/crear", method="POST" class="space-y-4")
      
      div
        label(for="tipo_ingreso" class="block text-gray-700 font-medium mb-1") 
          | Tipo de ingreso
        select(name="tipo_ingreso" id="tipo_ingreso" class="w-full rounded-lg border border-gray-300 py-2 px-4 bg-white text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500")
          option(value="Programado") Programado
          option(value="Emergencia") Emergencia
          option(value="Derivacion") Derivación

      div
        label(class="inline-flex items-center space-x-2")
          input#proveniente_guardia(type="checkbox", name="proveniente_guardia" class="form-checkbox h-5 w-5 text-blue-600")
          span(class="text-gray-700") Proviene de guardia

      div
        label(for="nombre" class="block text-gray-700 font-medium mb-1") 
          | Nombre
        input(type="text", name="nombre", required class="w-full rounded-lg border border-gray-300 py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500")

  
      div
        label(for="apellido" class="block text-gray-700 font-medium mb-1") 
          | Apellido
        input(type="text", name="apellido", required class="w-full rounded-lg border border-gray-300 py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500")

      div
        label(for="dni" class="block text-gray-700 font-medium mb-1") 
          | DNI
        input(type="text", name="dni", required class="w-full rounded-lg border border-gray-300 py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500")

      div
        label(for="edad" class="block text-gray-700 font-medium mb-1") 
          | Edad
        input(type="text", name="edad", required class="w-full rounded-lg border border-gray-300 py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500")

      div
        label(for="sexo" class="block text-gray-700 font-medium mb-1") 
          | Sexo
        select(name="sexo" class="w-full rounded-lg border border-gray-300 py-2 px-4 bg-white text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500")
          option(value="M") Masculino
          option(value="F") Femenino

      div
        label(for="direccion" class="block text-gray-700 font-medium mb-1") 
          | Dirección
        input(type="text", name="direccion", required class="w-full rounded-lg border border-gray-300 py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500")

      div
        label(for="telefono" class="block text-gray-700 font-medium mb-1") 
          | Teléfono
        input(type="text", name="telefono", required class="w-full rounded-lg border border-gray-300 py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500")

      div
        label(for="telefono_emergencia" class="block text-gray-700 font-medium mb-1") 
          | Teléfono de emergencia
        input(type="text", name="telefono_emergencia", required class="w-full rounded-lg border border-gray-300 py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500")

      div
        label(for="motivo" class="block text-gray-700 font-medium mb-1") 
          | Motivo de internación
        input(type="text", name="motivo", required class="w-full rounded-lg border border-gray-300 py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500")

      div
        label(for="camaId" class="block text-gray-700 font-medium mb-1") 
          | Seleccionar Cama
        select(name="camaId" class="w-full rounded-lg border border-gray-300 py-2 px-4 bg-white text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500")
          each cama in camas
            if cama.Habitacion
              option(value=cama.id)
                | Cama #{cama.numero} - Habitación #{cama.Habitacion.numero} (Ala #{cama.Habitacion.ala})
            else
              option(disabled)
                | Cama #{cama.numero} - (Sin habitación asignada)

      div(class="pt-4")
        button(type="submit" class="flex items-center gap-2 bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg hover:bg-blue-600 transition")
          //- Icono "Plus"
          svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5")
            path(stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15")
          | Admitir Paciente
